@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 38, 39, 41;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb))
}

@layer base {
  :root {
    --primary-font-color: 38, 39, 41;
    --primary-light-font-color: 38, 39, 41, 50%;
    --primary-disable-font-color: 38, 39, 41, 30%;
    --secondary-font-color: 255, 255, 255;
    --hightlight-font-color: 243, 145, 0;
    --hightlight-light-font-color: 243, 145, 0, 50%;

    --primary-background-color: 38, 39, 41;
    --primary-light-background-color: 38, 39, 41, 20%;
    --section-background-color: 245, 245, 245, 50%;
    --hightlight-background-color: 243, 145, 0;
    --section-light-background-color: 216, 216, 216, 20%;
  }
}

@layer components {
  .btn {
    @apply text-lg,
  }

  .icon {
    @apply w-[18px] h-[18px];
  }

  .primary-font-color {
    color: rgb(var(--primary-font-color));
  }

  .primary-light-font-color {
    color: rgb(var(--primary-light-font-color));
  }

  .primary-disable-font-color {
    color: rgb(var(--primary-disable-font-color));
  }

  .secondary-font-color {
    color: rgb(var(--secondary-font-color));
  }

  .hightlight-font-color {
    color: rgb(var(--hightlight-font-color));
  }

  .hightlight-light-font-color {
    color: rgb(var(--hightlight-light-font-color));
  }

  .primary-background-color {
    background: rgb(var(--primary-background-color));
  }

  .primary-light-background-color {
    background: rgb(var(--primary-light-background-color));
  }

  .section-background-color {
    background: rgb(var(--section-background-color));
  }

  .section-highlight-background-color {
    background: rgb(var(--hightlight-background-color));
  }

  .section-light-background-color {
    background: rgb(var(--section-light-background-color));
  }

  .leaflet-container {
    height: 70vh;
    border-radius: 10px;
  }

  .leaflet-section-container {
    height: 25rem;
    border-radius: 10px;
  }

  .cluster-icon {
    background-color: #333;
    height: 2em;
    width: 2em;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.2rem;
    box-shadow: 0 0 0px 5px #fff;
  }

  /* Increase the Z Index to overcome the Map layer */
  .topest-overlay {
    z-index: 1002 !important
  }

  .topest-background-overlay {
    z-index: 1001 !important
  }

  .topest-toast-overlay {
    z-index: 1003 !important
  }

  input[type="file"] {
    color: rgb(var(--section-light-background-color));
    background-color: rgb(var(--section-light-background-color));
  }

  .workflow-number {
    @apply block w-10 h-10 rounded-full text-center leading-10 font-bold;
  }
  
  .workflow-connector {
    @apply absolute top-1/2 left-10 w-full h-0.5 primary-light-background-color;
  }

  .primarybg {
    background-color: rgb(var(--primary-font-color));
  }

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}